<?xml version='1.0' encoding='utf-8'?>
<plugin id="helper.roverslounge.com" version="0.01" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>RoversLoungeHelper</name><js-module name="RoversLoungeHelper" src="www/RoversLoungeHelper.js"><clobbers target="cordova.plugins.RoversLoungeHelper" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="RoversLoungeHelper"><param name="android-package" value="helper.roverslounge.com.RoversLoungeHelper" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/RoversLoungeHelper.java" target-dir="src/helper/roverslounge/com/RoversLoungeHelper" /></platform></plugin>